body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414; /* Ekran arka plan rengi */
    color: #CCC8AA; /* Bej */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}

header {
    transition: background-color 0.5s ease, padding 0.5s ease;
    padding: 1em 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: 'Exo 2', sans-serif;
}

.nav {
    margin-left: 8rem;
}

#lang-toggle {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
}

#main-header.transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

#main-header.solid {
    background-color: #0C0C0C;
}

.nav-link {
    color: #ffffff; /* Buz Mavisi */
    font-weight: normal;
    font-family: 'Exo 2', sans-serif;
    transition: color 0.3s;
}

.nav-link.active {
    border-bottom: 2px solid #172f48; /* Mavi */
}

.nav-link:hover {
    color: #1E90FF; /* Mavi */
    border-bottom: 2px solid #172f48;
    text-decoration: none;
}

.film-music-section {
    margin-top: 5rem;
    padding-top: 10rem; /* Header'a göre içerik aşağıda başlasın */
}

.albums-section {
    padding-top: 5rem; /* Üst bölümle biraz boşluk bırak */
    margin-top: 5rem;
    background-color: #212121;
}

.film-music-section h1, .albums-section h1 {
    color: #ffffff; /* Beyaz */
    text-align: center;
    margin-bottom: 5rem;
}

.music-card {
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #222; /* Kutunun arka plan rengi ekran arka planından biraz koyu */
    display: flex;
    align-items: center;
    border-top: 1px solid #4c4c4c; /* Üst kenarlık */
    border-bottom: 1px solid #4c4c4c; /* Alt kenarlık */
    margin-bottom: 3rem;
    height: 120px; /* Kart yüksekliği */
}

.music-image {
    width: auto;
    height: 100%; /* Kutunun yüksekliğini tam kaplasın */
    width: 30%;
    object-fit: cover; /* Görselin taşmaması ve kesilmemesi için */
    border-radius: 0; /* Köşeleri yuvarlama */
    margin-right: 20px;
}

.music-details {
    flex-grow: 1;
}

.music-title {
    margin: 0;
    font-size: 1.2rem;
}

.music-title a {
    color: #1E90FF; /* Mavi */
    text-decoration: none;
}

.music-title a:hover {
    text-decoration: underline;
}

.music-artist {
    margin: 5px 0;
    font-size: 1rem;
    color: #CCC8AA; /* Bej */
}

.music-player {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.play-button {
    width: 30px;
    height: 30px;
    background: url('play-icon.png') no-repeat center center;
    background-size: contain;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}

.play-button.playing {
    background: url('stop-icon.png') no-repeat center center;
    background-size: contain;
}

.progress-bar {
    position: relative;
    flex-grow: 1;
    height: 5px;
    background-color: #555; /* Koyu gri */
    border-radius: 3px;
    overflow: hidden;
    margin-right: 15px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #1E90FF; /* Mavi */
}

.progress-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #1E90FF; /* Mavi */
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.time {
    color: #CCC8AA; /* Bej */
    font-size: 0.9rem;
}

/* Carousel controls */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

/* Footer stilleri */
.newsletter {
    background: #000000; /* Arka plan rengi */
    color: white;
    position: relative;
    z-index: 1;
}

.newsletter h2 {
    font-size: 2.5rem; /* Başlık boyutunu ayarlayın */
    margin-bottom: 1rem;
    color: #28469f;
}

.newsletter p {
    font-size: 1rem; /* Açıklama yazısı boyutunu ayarlayın */
    margin-bottom: 2rem;
    color: #CCC8AA;
}

.newsletter form .form-control {
    border-radius: 0;
    margin-bottom: 1rem;
}

.newsletter form .btn {
    background-color: #28469f;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.newsletter form .btn:hover {
    background-color: #1a1a41;
}

footer {
    flex-shrink: 0;
    background-color: #000; /* Siyah */
    color: #CCC8AA;
    padding: 3rem 0;
    text-align: center;
    width: 100%; /* Tam genişlik */
}

footer a {
    color: #CCC8AA;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #1E90FF; /* Mavi */
}

.footer-bottom {
    background: #000000;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 0;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom a {
    color: #CCC8AA;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0.5rem;
}

.footer-bottom a:hover {
    color: #CCC8AA;
}

.footer-bottom .socials {
    display: flex;
    justify-content: center; /* Ortaya hizalamak için */
    gap: 10px; /* İkonlar arasına boşluk eklemek için */
}

.footer-bottom .socials img {
    display: inline-block;
    vertical-align: middle;
    width: 20px; /* Tüm ikonların aynı boyutta olması için genişliği belirleyin */
    height: 20px; /* Tüm ikonların aynı boyutta olması için yüksekliği belirleyin */
    filter: none !important; /* Brightness ve invert filtrelerini tamamen kaldırın */
    transition: none; /* Geçiş efektlerini kaldırın */
    opacity: 1 !important; /* Görünürlüğü tam yapın */
}

.footer-bottom .socials img:hover {
    filter: none !important; /* Hover durumunda da herhangi bir filtre uygulamayın */
    opacity: 1 !important; /* Hover durumunda görünürlüğü tam yapın */
}

/* Responsive Tasarım */
@media (max-width: 992px) {
    .navbar-toggler {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 1.25rem;
        color: #ffffff;
        position: absolute;
        top: 15px; /* Toggler butonunun yerini sabitle */
        right: 15px; /* Sağ kenardan uzaklık */
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Toggler ikon rengi beyaz yapar */
    }

    .navbar-collapse {
        display: none;
        position: absolute;
        top: 50px; /* Menü yazılarının toggler butonunun altında açılmasını sağla */
        width: 100%; /* Genişliği tam genişlik yap */
        background-color: #0C0C0C; /* Arka plan rengi */
    }

    .navbar-collapse.show {
        display: block;
    }

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 0.5rem 0;
    }
}

@media (max-width: 768px) {
    .film-music-section {
        padding-top: 5rem;
    }

    .albums-section {
        padding-top: 5rem;
    }

    .music-card {
        margin-left: 0;
        margin-right: 0;
    }

    .music-details {
        text-align: center;
    }

    .music-title, .music-artist {
        text-align: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }
}
